{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %}Nosotros | Just Sale {% endblock title %} 
{% block titleop %}Nosotros | Just Sale{% endblock titleop%}
{%block description %} Somos una empresa de inversiones inmobiliarias especializada en la compra de bienes raíces, aportando soluciones patrimoniales que favorezcan la venta de propiedades de
alta calidad y proteger el patrimonio de vendedores y compradores.  {% endblock description %}


<!-- Body -->
{% block content %} {% include 'navbar.html' %}

<!-- ======= Header Section ======= -->

<header id="about-index">
 <span></span>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center"  data-aos="fade-right" data-aos-delay="500">
        <h2 class="display-5">Acerca de Just Sale</h2>
        <br>
        <p>Somos una empresa de inversiones inmobiliarias especializada en la compra de bienes raíces, aportando soluciones patrimoniales que favorezcan la venta de propiedades de alta calidad, protegiendo el patrimonio de vendedores y compradores.</p>
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="500">
        <img src="{% static 'img/about/acerca.png' %}" class="img-fluid" alt="Acerca de Just Sale">
      </div>
    </div>
  </div>
</header>
<section id="about-mision">
  <div class="container ">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center text-lg-start order-lg-1" >
        <h2 class="display-6" data-aos="fade-left" data-aos-delay="500">Misión</h2>
        <br>
        <div class="text-center text-lg-start">
          <p data-aos="fade-left" data-aos-delay="700">
            Ser una empresa confiable dentro del sector inmobiliario, con un equipo de trabajo altamente capacitado y comprometido con la satisfacción de nuestros clientes.
          </p>
          <p data-aos="fade-left" data-aos-delay="900">
            Ofrecer una solución efectiva y clara para nuestros clientes, mediante un proceso de compra agil y transparente.
          </p>
          <p data-aos="fade-left" data-aos-delay="1100">
            Presentar a nuestros clientes una propuesta de compra que les permita transformar su patrimonio.
          </p>
        </div>
      </div>
      <div class="col-lg-6 text-center pt-3" data-aos="fade-right" data-aos-delay="1200">
        <img src="{% static 'img/about/mision.png' %}" alt="Vision de Just Sale" class="img-fluid">
      </div>
    </div>
     <div class="row align-items-center ">
      <div class="col-lg-6 text-center text-lg-end" data-aos="fade-right" data-aos-delay="500">
        <h2 class="display-6">Visión</h2>
        <br>
        <p>Ser la empresa lider en comprs de inmuebles, generando valor a propietarios y compradores.</p>
      </div>
      <div class="col-lg-6 text-center pt-3" data-aos="fade-left" data-aos-delay="500">
        <img src="{% static 'img/about/vision.png' %}" alt="Vision de Just Sale" class="img-fluid">
      </div>
    </div>
  </div>

</section>

<section id="about-action">
  <div class="container-fluid my-5">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="display-6">¿Deseas vender tu inmueble?</h2>
          <h5>
            Contáctanos y recibe una propuesta de compra en sólo 10 días
            
          </h5>
          <br>
          <a class="call" data-bs-toggle="modal" data-bs-target="#modal-cta">
            Contactarme con un experto
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



{% include 'modal_cta.html' %}
{% include 'footer.html' %}

<script src="{% static 'js/custom.js' %}"></script>

{% endblock content %}
