{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %} Mundo Just Sale{% endblock title %} 
{% block titleop %}Mundo Just Sale{% endblock titleop%}
{%block description %} Noticias de actualidad en el mundo inmobiliario {% endblock description %}



<!-- Body -->

{% block content %} {% include 'navbar.html' %}

<!-- ======= Header Section ======= -->

<header id="feed-index">
 
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
          <h2 class="display-5" data-aos="zoom-in" data-aos-delay="500">Mundo Just Sale</h2>
          <h4 data-aos="zoom-in" data-aos-delay="600">
            Conoce lo último en noticias e información sobre el Sector
            Inmobiliario
          </h4>
      </div>
    </div>
    {% if more_obj %}
    <div class="row">
      <div class="col infinite-container" id="war">
        {% for new in more_obj %}
          <div class="figure infinite-item inner" data-aos="fade-up" data-aos-delay="500">
            <a href="{{new.url_news}}" target="_blank" rel="noopener noreferrer">
              <div class="img-wrapper">
                <img src="{{ new.image_news }}" alt="{{ new.title }}" class="img_masonry">
              </div>
            </a>
            <span class="figcaption"><p class="phrase">{{new.title}}</p></span>
          </div>
        
        {% endfor %}
      </div>
    </div>

    <div class="row" id="controls" data-aos="zoom-in" data-aos-delay="500">
        <div class="row">
          <div class="col-12 text-center">
            <p>Página {{more_obj.number}} de {{more_obj.paginator.num_pages}}</p>
            <span class="step-links">
              <p>
              {% if more_obj.has_previous %}
                  <a href="?page=1" class="mx-2">&laquo; Primera </a>
                  <a href="?page={{ more_obj.previous_page_number }}" class="mx-2">Anterior</a>
              {% endif %}
      
              {% if more_obj.has_next %}
                  <a href="?page={{ more_obj.next_page_number }}" class="mx-2">Siguiente</a>
                  <a href="?page={{ more_obj.paginator.num_pages }}" class="mx-2">Última &raquo;</a>
              {% endif %}
              </p>
            </span>
         
          </div>
        </div>
      
    </div>
    {% else %}
    <div class="row">
      <div class="col text-center">
        <h6 data-aos="fade-up" data-aos-delay="700">No podemos cargar las últimas noticias, por favor visita nuestro sitio mas tarde</h6>
      </div>
    </div>
    {% endif %}
  </div>
</header>


<section id="feed-action">
  <div class="container-fluid my-5">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center">
          <h2 class="display-6">Recupera tu liquidez</h2>
          <h5>
            ¿Tu crédito Infonavit es muy alto, tus deudas siguen creciendo?
          </h5>
          <br>
          <a class="call" data-bs-toggle="modal" data-bs-target="#modal-cta">
            Contactarme con un experto
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'modal_cta.html' %}
{% include 'footer.html' %}



<script>
  AOS.init({ once: true })
</script>


{% endblock content %}

