{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %} ¡Just Sale! | Compramos tu casa de forma rápida, fácil y segura {% endblock title %}
{%block description %} Muy pronto llegará a México la mejor solución para vender de
forma segura, rápida y sin problemas tu casa. {% endblock description %}

<!-- Body -->
{% block content %} {% include 'navbar.html' %}
<div class="turn">
  <div class="container pt-5">
    <div class="row">
      <div class="col text-center">
        <h3>Por favor gira tu dispositivo</h3>
        <i class="fa-solid fa-rotate-right fa-2x"></i>
      </div>
    </div>
  </div>
</div>

<!-- ======= Header Section ======= -->
<div class="container_full">
  <header id="index" style="scroll-snap-align: start">
    <span class="d-none d-lg-block">
      <div id="hero" class="d-flex align-items-center ratio ratio-16x9">
        <video autoplay muted playsinline loop id="myVideo">
          <source src="{% static 'img/video/just_169.mp4'%}" type="video/mp4" />
        </video>
        <div class="container position-relative">
          <h1 class="display-1" data-aos="fade-right" data-aos-delay="500">Just Sale</h1>
          <h2 data-aos="fade-left" data-aos-delay="1000">Compramos tu casa o departamento de forma rápida, fácil y
            segura</h2>
          <p class="mt-4" data-aos="fade-left" data-aos-delay="1000"><a href="#process"><span class="follow">Mas
                info...</span></a></p>
        </div>
      </div>
    </span>
    <span class="d-lg-none">
      <div id="hero" class="d-flex align-items-center ratio ratio-9x16">
        <video autoplay muted playsinline loop id="myVideo">
          <source src="{% static 'img/video/just_916.mp4'%}" type="video/mp4" />
        </video>
        <div class="container position-relative">
          <h1 class="display-1" data-aos="fade-right" data-aos-delay="500">Just Sale</h1>
          <h3 data-aos="fade-left" data-aos-delay="1000">Compramos tu casa o departamento de forma rápida, fácil y
            segura</h3>
          <p class="mt-4" data-aos="fade-left" data-aos-delay="1000"><a href="#process"><span class="follow">Mas
                info...</span></a></p>
        </div>
      </div>
    </span>
  </header>

  <!-- ======= About Us Section ======= -->

  <section class="slides_full" id="about">
    <div class="container-fluid position-relative">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-lg-6">
            <span class="square-wrapper">
              <span class="square square-animate square-finale"></span>
            </span>
            <h2 class="display-4">Expertos en soluciones que transforman tú futuro</h2>
            <p>
              Somos una empresa especializada en la compra de inmuebles, con el objetivo de ofrecer una solución rápida
              y segura los propietarios que deseen vender su casa o departamento.
            </p>
            <p class="mt-4"><a href="{% url 'about'  %}"><span class="follow">Nosotros</span></a></p>
          </div>
          <div class="d-none d-lg-block col-lg-6">
            <span class="img-about-wrapper">
              <img src="{% static 'img/home/about.png'%}" alt="Acerca de Just Sale"
                class="img-about img-about-animate img-about-finale" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Process Section ======= -->

  <section class="slides_full" id="process">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <span class="animation-wrapper">
            <h2 class="animation-down animation-down-start animation-down-finale">Nuestro proceso</h2>
            <h6 class="animation-up animation-up-start animation-up-finale">Son 4 sencillos pasos</h6>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center col-lg-3">
          <div class="card">
            <div class="box_icon p-lg-3">
              <img src="{% static 'img/home/agenda.png'%}" class="card-img-top" alt="Agenda" />
            </div>
            <div class="card-body">
              <h5 class="d-lg-none">Cita</h5>
              <p class="card-text d-none d-lg-block">
                Reserva una cita para conocer tu inmueble y realizar un avalúo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 text-center col-lg-3">
          <div class="card">
            <div class="box_icon p-lg-3">
              <img src="{% static 'img/home/propuesta.png'%}" class="card-img-top" alt="Propuesta" />
            </div>
            <div class="card-body">
              <h5 class="d-lg-none">Propuesta</h5>
              <p class="card-text d-none d-lg-block">
                En solo 10* días recibe una propuesta justa para la compra de tu
                inmueble.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 text-center col-lg-3">
          <div class="card">
            <div class="box_icon p-lg-3">
              <img src="{% static 'img/home/acepta.png'%}" class="card-img-top" alt="Acepta" />
            </div>
            <div class="card-body">
              <h5 class="d-lg-none">Acepta</h5>
              <p class="card-text d-none d-lg-block">
                Acepta la propuesta para comenzar la operación e integrar su
                expediente.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 text-center col-lg-3">
          <div class="card">
            <div class="box_icon p-lg-3">
              <img src="{% static 'img/home/pago.png'%}" class="card-img-top" alt="Pago" />
            </div>
            <div class="card-body">
              <h5 class="d-lg-none">Pago</h5>
              <p class="card-text d-none d-lg-block">
                Realizamos los trámites para firma ante notario y pago del
                inmueble.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Action 01 Section ======= -->

  <section class="slides_full" id="action_01">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col my-5 text-center">
          <span class="img-action-wrapper">
            <img src="{% static 'img/home/accion_01.png'%}" class="img-action img-action-animate img-action-finale"
              alt="Recupera tu capital" />
          </span>
          <h2>Iniciar mi negocio</h2>
          <h5>
            ¿Que harías si transformas tu inmueble en capital para inversión?
          </h5>
          <br>
          <a class="call" data-bs-toggle="modal" data-bs-target="#modal-cta">
            Saber más...
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Feed Section ======= -->

  <section class="slides_full" id="feed">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <span class="animation-wrapper-1">
            <h2 class="animation-down1 animation-down1-start animation-down1-finale">Mundo Just Sale</h2>
            <h6 class="animation-up1 animation-up1-start animation-up1-finale">
              Conoce lo último en noticias e información sobre el Sector
              Inmobiliario
            </h6>
          </span>
        </div>
        <br>
        <br>
        <div class=" mt-3 ">
          <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for new in news|slice:"7" %}

              <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <a href="{{new.url_news}}" target="_blank" class="scrollto ">
                  <div class="card">
                    <div class="img-wrapper">
                      <img src="{{ new.image_news }}" class="d-block w-100" alt="{{ new.title }}" />
                    </div>
                    <div class="card-img-overlay">
                      <h5 class="card-title m-1">{{new.title}}</h5>
                    </div>
                  </div>
                </a>
              </div>

              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="fa fa-chevron-left fa-3x" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="fa fa-chevron-right fa-3x" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <p><a href="{% url 'feed'  %}"><span class="follow">Últimas Noticias</span></a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Testimonials Section ======= -->

  <section class="slides_full" id="testimonials">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4 text-center text-lg-start">
          <span class="animation-wrapper-4">
            <h2 class="animation-right animation-right-start animation-right-finale">Historias de exito</h2>
            <div class="animation-left animation-left-start animation-left-finale">
              <h6>Te compartimos la opinón de nuestros clientes</h6>
              <br>
              <p><a href="{% url 'testimonials'  %}"><span class="follow">Testimonios</span></a></p>
            </div>
          </span>
        </div>
        <!-- =======LG Section ======= -->
        {% for testimonial in testimonials|slice:"2" %}
        <div class="col-lg-4 d-none d-lg-block">
          <div class="card-testimonial mx-auto">
            <div class="img-wrapper">
              <a data-bs-toggle="modal" data-bs-target="#modal-{{testimonial.id}}">
                <img src="{{ testimonial.image_testimonial }}" alt="{{ testimonial.lead}}" class="img-testimonial" />
              </a>
            </div>
            <h5 class="mt-1">{{ testimonial.lead }}</h5>
            <div class="line-testimonial p-0 m-0"></div>
            <h6 class="mt-2 mt-lg-0  mb-0">{{ testimonial.headline }}</h6>
            <p class="phrase">{{ testimonial.body }}</p>
          </div>
        </div>
        {% include 'modal_testimonials.html' %}
        {% endfor %}


        <!-- =======Mobile Section ======= -->

        <div class="col-12 d-lg-none text-center">
          {% for testimonial in testimonials|slice:"1" %}
          <div class="col-12 mt-3">
            <div class="card-testimonial mx-auto">
              <div class="img-wrapper bg-info">
                <a data-bs-toggle="modal" data-bs-target="#modal-mobile-{{testimonial.id}}">
                  <img src="{{ testimonial.image_testimonial }}" alt="{{ testimonial.lead}}" class="img-testimonial" />
                </a>
              </div>
              <h5 class="mt-1">{{ testimonial.lead }}</h5>
              <div class="line-testimonial p-0 m-0"></div>
              <h6 class="mt-0 mb-0">{{ testimonial.headline }}</h6>
              <p class="phrase">{{ testimonial.body }}</p>
            </div>
          </div>
          {% include 'modal_testimonials_mobile.html' %}
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

  <!-- ======= Action 02 Section ======= -->

  <section class="slides_full" id="action_02">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col my-5 text-center">
          <span class="img-action02-wrapper">
            <img src="{% static 'img/home/accion_02.png'%}"
              class="img-action02 img-action02-animate img-action02-finale" alt="Recupera tu capital" />
          </span>
          <h2>Recibe un avalúo de tu propiedad en 10* días.</h2>
          <h5>
            ¿Sábes cuál es el valor de tu inmueble?
          </h5>
          <br>
          <a class="call" data-bs-toggle="modal" data-bs-target="#modal-cta">
            Contactarme con un experto
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Faqs Section ======= -->

  <section class="slides_full" id="faqs">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <span class="animation-wrapper-5">
            <h2 class="animation-down3 animation-down3-start animation-down3-finale">Preguntas Frecuentes</h2>
            <h6 class="animation-up3 animation-up3-start animation-up3-finale">Resolvemos tus dudas</h6>
          </span>
        </div>
      </div>
      <br>
      <br>

      <!-- Question Container -->
      <div class="row my-3  quest-container">
        <!-- Question Col 01 -->
        <div class="col-lg-6">
          <div class="col question">
            <a href="#pregunta1" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="pregunta1">
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Qué es Just Sale?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta1">
            <h6>Empresa especializada en la compra de inmuebles.</h6>
          </div>
          <div class="col question">
            <a href="#pregunta3" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="pregunta3">
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Cómo puedo vender mi inmueble a Just Sale ?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse question" id="pregunta3">
            <h6>Es muy fácil, te compartimos estos cuatro sencillos pasos</h6>
            <ol>
              <li>Contáctanos</li>
              <li>Agendamos una cita y visitámos tu inmueble</li>
              <li>Te ofrecemos una propuesta de compra</li>
              <li>Si aceptas, formalizamos ante notario</li>
              <li>¡ Recibe tú pago !</li>
            </ol>
          </div>
          <div class="col question">
            <a href="#pregunta5" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="pregunta5">
              <div class="d-flex align-items-center justify-content-between">
                <h5>
                  ¿Compran inmuebles que se encuentren actualmente hipotecados?
                </h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta5">
            <h6>
              Sí, compramos inmuebles que se encuentren actualmente hipotecados,
              sin embargo, evitamos inmuebles que se encuentren en procesos de remate.
            </h6>
          </div>
        </div>

        <!-- Question Col 02 -->
        <div class="col-lg-6">
          <div class="col question">
            <a href="#pregunta2" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="pregunta2">
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Cuáles son los inmuebles que compra Just Sale?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta2">
            <h6>
              Actualmente nos especializamos en la compra de casas y/o departamentos.
            </h6>
          </div>
          <div class="col question">
            <a href="#pregunta4" data-bs-toggle="collapse" role="button" aria-expanded="false"
              aria-controls="pregunta4">
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Cuál es la cobertura de compra en Just Sale?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta4">
            <h6>
              Nuestros clientes se encuentran en la Ciudad de México y Estado de
              México, si tu inmueble no se encuentra en estas zonas, no te
              preocupes, pronto estaremos en tu ciudad.
              <span>¡Síguenos para más novedades!</span>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Contact Section ======= -->

  <section class="slides_full" id="contact" class="contact">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <span class="animation-wrapper-2">
            <h2 class="animation-down2 animation-down2-start animation-down2-finale">Contacto</h2>
            <h6 class="animation-up2 animation-up2-start animation-up2-finale">Nos comunicaremos contigo en breve</h6>
          </span>
        </div>
      </div>

      <div class="row gx-lg-3 contact-container">
        <div class="col">
          <form class="row g-3 needs-validation" id="formularioContacto">
            <div class="col-md-12 col-lg-6">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-regular fa-user"></i>
                </div>
                <input type="text" class="form-control" id="nombre_contacto" placeholder="Nombre Completo"
                  aria-label="Nombre Completo" required />
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-regular fa-envelope"></i>
                </div>
                <input type="email" class="form-control" id="correo_contacto" placeholder="Email" aria-label="Email"
                  required />
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-solid fa-mobile-screen"></i>
                </div>
                <input type="tel" class="form-control" id="telefono_contacto" placeholder="Teléfono"
                  aria-label="Teléfono" required />
              </div>
            </div>

            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  ¿Te gustaría recibir una propuesta de compra para tu inmueble?
                </option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="medio_contacto" class="form-select" required>
                <option value="" selected>
                  Selecciona la ubicación de tu inmueble
                </option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Estado de México">Estado de México</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  ¿El inmueble ya ha sido liquidado?
                </option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  Si hoy vendieras tu inmueble ¿Qué te gustaría hacer?
                </option>
                <option value="Emprender un negocio">
                  Emprender un negocio
                </option>
                <option value="Cubrir la educación de mis hijos">
                  Cubrir la educación de mis hijos
                </option>
                <option value="Cubrir la educación de mis hijos">
                  Cubrir la educación de mis hijos
                </option>
                <option value="Liquidar deudas">Liquidar deudas</option>
                <option value="Liquidar deudas">Liquidar deudas</option>
                <option value="Cubrir gastos médicos">
                  Cubrir gastos médicos
                </option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-12">
              <select id="medio_contacto" class="form-select" required>
                <option value="" selected>¿Cómo te contactaremos?</option>
                <option value="Correo Electrónico">Correo Electrónico</option>
                <option value="Llamada Teléfonica">Llamada Teléfonica</option>
                <option value="Mensaje Whatsapp">Mensaje Whatsapp</option>
              </select>
            </div>
            <div class="col-12">
              <textarea id="mensaje_contacto" class="form-control" rows="5"
                placeholder="Escribe algún comentario o pregunta adicional" required></textarea>
            </div>
            <div class="col-12 text-center">
              {% load env_extras %}
              <div class="g-recaptcha" data-sitekey="{% get_env_var 'RECAPTCHA_SECRET_KEY' %}" required></div>
              <button type="submit" class="col-12 btn btn-primary">
                Enviar Mensaje
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalGracias" tabindex="-1" role="dialog" aria-labelledby="modalGraciasLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto ok" id="modalGraciasLabel">
              ¡Gracias!
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>
              Hemos recibido tu mensaje, nos comunicaremos contigo en breve.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto error" id="modalErrorLabel">
              ¡Ha ocurrido un error!
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>El mensaje no ha sido enviado, por favor intenta más tarde.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'modal_cta.html' %}
  {% include 'footer.html' %}
</div>

<script>
  // Animate Div Observer
  const square = document.querySelector(".square");
  const imgabout = document.querySelector(".img-about");
  const imgaaction01 = document.querySelector(".img-action");
  const imgaaction02 = document.querySelector(".img-action02");

  square.classList.remove("square-animate");
  imgabout.classList.remove("img-about-animate");
  imgaaction01.classList.remove("img-action-animate");
  imgaaction02.classList.remove("img-action02-animate");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        square.classList.add("square-animate");
        imgabout.classList.add("img-about-animate");
        imgaaction01.classList.add("img-action-animate");
        imgaaction02.classList.add("img-action02-animate");

        imgabout.classList.remove("img-about-finale");
        square.classList.remove("square-finale");
        imgaaction01.classList.remove("img-action-finale");
        imgaaction02.classList.remove("img-action02-finale");

        return;
      }
      square.classList.remove("square-animate");
      imgabout.classList.remove("img-about-animate");
      imgaaction01.classList.remove("img-action-animate");
      imgaaction02.classList.remove("img-action02-animate");

      square.classList.add("square-finale");
      imgabout.classList.add("img-about-finale");
      imgaaction01.classList.add("img-action-finale");
    });
  });
  observer.observe(document.querySelector(".square-wrapper"));
  observer.observe(document.querySelector(".img-about-wrapper"));
  observer.observe(document.querySelector(".img-action-wrapper"));
  observer.observe(document.querySelector(".img-action02-wrapper"));
</script>
<script>
  var carouselWidth = $(".carousel-inner")[0].scrollWidth;

  var cardWidth = $(".carousel-item").width();

  var scrollPosition = 0;

  $(".carousel-control-next").on("click", function () {
    if (scrollPosition < (carouselWidth - cardWidth * 2)) { //check if you can go any further
      scrollPosition += cardWidth;  //update scroll position
      $(".carousel-inner").animate({ scrollLeft: scrollPosition }, 600); //scroll left
    }
  });

  $(".carousel-control-prev").on("click", function () {
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      $(".carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });

  var multipleCardCarousel = document.querySelector(
    "#carouselExampleControls"
  );
  if (window.matchMedia("(min-width: 768px)").matches) {
    //rest of the code
    var carousel = new bootstrap.Carousel(multipleCardCarousel, {
      interval: false
    });
  } else {
    $(multipleCardCarousel).addClass("slide");
  }

</script>
<script>
  window.onload = function () {
    var $recaptcha = document.querySelector('#g-recaptcha-response');
    // var myModalGracias = new bootstrap.Modal(
    //   document.getElementById("modalGracias"),
    //   {}
    // );
    // myModalGracias.show();

    if ($recaptcha) {
      $recaptcha.setAttribute("required", "required");
    }
  };
</script>
<script>
  // Animate Div Observer
  const animation_down = document.querySelector(".animation-down");
  const animation_up = document.querySelector(".animation-up");

  animation_down.classList.remove("animation-down-start");
  animation_up.classList.remove("animation-up-start");

  const observers = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation_down.classList.add("animation-down-start");
        animation_down.classList.remove("animation-down-finale");

        animation_up.classList.add("animation-up-start");
        animation_up.classList.remove("animation-up-finale");

        return;
      }
      animation_down.classList.remove("animation-down-start");
      animation_up.classList.remove("animation-up-start");

      animation_down.classList.add("animation-down-finale");
      animation_up.classList.add("animation-up-finale");
    });
  });
  observers.observe(document.querySelector(".animation-wrapper"));
</script>
<script>
  // Animate Div Observer
  const animation_down1 = document.querySelector(".animation-down1");
  const animation_up1 = document.querySelector(".animation-up1");

  animation_down1.classList.remove("animation-down1-start");
  animation_up1.classList.remove("animation-up1-start");

  const observers1 = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation_down1.classList.add("animation-down1-start");
        animation_down1.classList.remove("animation-down1-finale");

        animation_up1.classList.add("animation-up1-start");
        animation_up1.classList.remove("animation-up1-finale");

        return;
      }
      animation_down1.classList.remove("animation-down1-start");
      animation_up1.classList.remove("animation-up1-start");

      animation_down1.classList.add("animation-down1-finale");
      animation_up1.classList.add("animation-up1-finale");
    });
  });
  observers1.observe(document.querySelector(".animation-wrapper-1"));
</script>
<script>
  // Animate Div Observer
  const animation_down2 = document.querySelector(".animation-down2");
  const animation_up2 = document.querySelector(".animation-up2");

  animation_down2.classList.remove("animation-down2-start");
  animation_up2.classList.remove("animation-up2-start");

  const observers2 = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation_down2.classList.add("animation-down2-start");
        animation_down2.classList.remove("animation-down2-finale");

        animation_up2.classList.add("animation-up2-start");
        animation_up2.classList.remove("animation-up2-finale");

        return;
      }
      animation_down2.classList.remove("animation-down2-start");
      animation_up2.classList.remove("animation-up2-start");

      animation_down2.classList.add("animation-down2-finale");
      animation_up2.classList.add("animation-up2-finale");
    });
  });
  observers2.observe(document.querySelector(".animation-wrapper-2"));
</script>
<script>
  // Animate Div Observer
  const animation_right = document.querySelector(".animation-right");
  const animation_left = document.querySelector(".animation-left");

  animation_right.classList.remove("animation-right-start");
  animation_left.classList.remove("animation-left-start");

  const observers3 = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation_right.classList.add("animation-right-start");
        animation_right.classList.remove("animation-right-finale");

        animation_left.classList.add("animation-left-start");
        animation_left.classList.remove("animation-left-finale");

        return;
      }
      animation_right.classList.remove("animation-right-start");
      animation_left.classList.remove("animation-left-start");

      animation_right.classList.add("animation-right-finale");
      animation_left.classList.add("animation-left-finale");
    });
  });
  observers3.observe(document.querySelector(".animation-wrapper-4"));
</script>
<script>
  // Animate Div Observer
  const animation_down3 = document.querySelector(".animation-down3");
  const animation_up3 = document.querySelector(".animation-up3");

  animation_down3.classList.remove("animation-down3-start");
  animation_up3.classList.remove("animation-up3-start");

  const observers4 = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        animation_down3.classList.add("animation-down3-start");
        animation_down3.classList.remove("animation-down3-finale");

        animation_up3.classList.add("animation-up3-start");
        animation_up3.classList.remove("animation-up3-finale");

        return;
      }
      animation_down3.classList.remove("animation-down3-start");
      animation_up3.classList.remove("animation-up3-start");

      animation_down3.classList.add("animation-down3-finale");
      animation_up3.classList.add("animation-up3-finale");
    });
  });
  observers4.observe(document.querySelector(".animation-wrapper-5"));
</script>
<script>
  var scrollAmount;
  document.addEventListener('keydown', e => {
    if (e.keyCode == 87) {
      scrollAmount = -150
    }
    else if (e.keyCode == 83) {
      scrollAmount = 150
    }
  });
  document.addEventListener('keyup', e => {
    scrollAmount = 0;
  });

  setInterval(function () {
    window.scrollBy({ top: scrollAmount });
  }, 10)
</script>

{% endblock content %}