{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %} ¡Just Sale! PROXIMAMENTE {% endblock title %} 
{%block description %} Muy pronto llegará a México la mejor solución para vender de
forma segura, rápida y sin problemas tu casa. {% endblock description %}

<!-- Body -->
{% block content %} {% include 'navbar.html' %}

<!-- ======= Header Section ======= -->
<div class="container_full">
  <header id="index" style="scroll-snap-align: start">
    <span class="d-none d-lg-block">
      <div id="hero" class="d-flex align-items-center ratio ratio-16x9">
        <video autoplay muted loop id="myVideo">
          <source src="{% static 'img/video/just_169.mp4'%}" type="video/mp4" />
        </video>
        <div
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <h1 class="display-1">Just Sale</h1>
          <h3>Comprámos tu casa de forma rápida, fácil y segura</h3>
          <a href="#about" class="btn-get-started scrollto follow">Mas info...</a>
        </div>
      </div>
    </span>
    <span class="d-lg-none">
      <div id="hero" class="embed-responsive embed-responsive-9by16">
        <video
          autoplay
          muted
          loop
          id="myVideo"
          class="video embed-responsive-item"
        >
          <source src="{% static 'img/video/just_916.mp4'%}" type="video/mp4" />
        </video>
        <div
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <h1>Just Sale</h1>
          <h2>Comprámos tu depa de forma rápida, fácil y segura</h2>
          <a href="#about" class="btn-get-started scrollto follow">Mas info...</a>
        </div>
      </div>
    </span>
  </header>

  <!-- ======= About Us Section ======= -->

  <section class="slides_full" id="about">
    <div class="container-fluid position-relative">
      <div class="container">
        <div class="row align-items-center">
          <div class="col col-lg-6">
            <span class="square-wrapper">
              <span class="square square-animate square-finale"></span>
            </span>
            <h2 class="display-4">Expertos en Soluciones Inmobiliarias que cambian tu futuro</h2>
            <p>
              Somos una empresa que se dedica a la compra de inmuebles en
              México, con el objetivo de ofrecer una solución rápida y segura a
              las personas que desean vender su casa o departamento.              
            </p>
            <p><span class="follow">Conoce más de Just Sale...</span></p>
          </div>
          <div class="d-none d-lg-block col-lg-6">
            <span class="img-about-wrapper">
              <img
                src="{% static 'img/home/about.png'%}"
                alt="Acerca de Just Sale"
                class="img-about img-about-animate img-about-finale"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Process Section ======= -->

  <section class="slides_full" id="process">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="display-5">Así de Fácil</h2>
          <h4>Son 4 sencillos pasos</h4>
        </div>
      </div>
      <div class="row row_process">
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="box_icon p-3">
              <img
                src="{% static 'img/home/agenda.png'%}"
                class="card-img-top"
                alt="Agenda"
              />
            </div>
            <div class="card-body">
              <h2 class="card-title">Agenda</h2>
              <p class="card-text">
                Agenda una cita para conocer tu inmueble y realizar un avalúo.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="box_icon p-3">
              <img
                src="{% static 'img/home/propuesta.png'%}"
                class="card-img-top"
                alt="Propuesta"
              />
            </div>
            <div class="card-body">
              <h2 class="card-title">Propuesta</h2>
              <p class="card-text">
                Recibe una propuesta de compra justa para la compra de tu
                inmueble.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="box_icon p-3">
              <img
                src="{% static 'img/home/acepta.png'%}"
                class="card-img-top"
                alt="Acepta"
              />
            </div>
            <div class="card-body">
              <h2 class="card-title">Acepta</h2>
              <p class="card-text">
                Acepta la propuesta para comenzar la operación e integrar su
                expediente.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="card">
            <div class="box_icon p-3">
              <img
                src="{% static 'img/home/pago.png'%}"
                class="card-img-top"
                alt="Pago"
              />
            </div>
            <div class="card-body">
              <h2 class="card-title">Pago</h2>
              <p class="card-text">
                Realizaremos los tramites para firma ante notario y pago del
                inmueble.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Action 01 Section ======= -->

  <section class="slides_full" id="action_01">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col my-5 text-center">
          <span class="img-action-wrapper">
            <img
              src="{% static 'img/home/accion_01.png'%}"
              class="img-action img-action-animate img-action-finale"
              alt="Recupera tu capital"
            />
          </span>
          <h2 class="display-3">Invertir en mi negocio</h2>
          <h5>
            ¿Qúe harías si recuperaras tu capital?
          </h5>
          <br>
          <a class="call">
            Saber más...
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Feed Section ======= -->

  <section class="slides_full" id="feed">
    <div class="container h-75">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="display-5">Mundo Just Sale</h2>
          <h4>
            Conoce lo último en noticias e información sobre el Sector
            Inmobiliario
          </h4>
        </div>
        <br>
        <br>
        <div class="row mt-3 ">
          <div
            id="carouselExampleControls"
            class="carousel"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">  
            {% for new in news|slice:"7" %}
            
              <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <div class="card">
                  <div class="img-wrapper">
                    <img
                      src="{{ new.image_news }}"
                      class="d-block w-100"
                      alt="{{ new.title }}"
                    />
                  </div>
                  <div class="card-img-overlay">
                    <h5 class="card-title">{{new.title}} <span><a href="{{new.url_news}}" target="_blank" class="btn-get-started scrollto follow">Leer más...</a></span></h5>
                  </div>
                </div>
              </div>
            
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="fa fa-chevron-left fa-3x" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="fa fa-chevron-right fa-3x" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Testimonials Section ======= -->

  <section class="slides_full" id="testimonials">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col col-lg-6">
          <h2 class="display-4">Historias de Éxito</h2>
          <h4>Te compartimos la opinón de nuestros clientes</h4>
        </div>
        <div class="col-lg-6 ">
          {% for testimonial in testimonials|slice:"2" %}
          <div class="col-12 mt-3">
            <div class="card-testimonial mx-auto">
              <a data-bs-toggle="modal" data-bs-target="#modal-{{testimonial.id}}">
                <img
                src="{{ testimonial.image_testimonial }}"
                alt="{{ testimonial.lead}}"
                class="img-testimonial mx-1"
                />
                <div class="play-button-outer">
                 <div class="play-button"></div>
                </div>
              </a>
              <h5 class="m-0">{{ testimonial.lead }}</h5>
              <div class="border-testimonial"></div>
              <h6 class="m-0">{{ testimonial.headline }}</h6>
              <p class="m-0">{{ testimonial.body }}</p>
            </div>
          </div>
          <div class="modal fade" id="modal-{{testimonial.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-testimonioLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content bg-transparent">
                <div class="ratio ratio-16x9">
                  <iframe width="560" height="315" src="{{testimonial.url_video|safe}}" title="{{testimonial.lead}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </section>

  <!-- ======= Action 02 Section ======= -->

  <section class="slides_full" id="action_02">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col my-5 text-center">
           <span class="img-action02-wrapper">
            <img
              src="{% static 'img/home/accion_01.png'%}"
              class="img-action02 img-action02-animate img-action02-finale"
              alt="Recupera tu capital"
            />
          </span>
          <h2 class="display-3">¿Sábes cuál es el valor de tu inmueble?</h2>
          <h5>
            Recibe un avalúo de tu propiedad.
            
          </h5>
          <br>
          <a class="call">
            Contactarme con un experto
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Faqs Section ======= -->

  <section class="slides_full" id="faqs">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-12">
          <h2 class="display-4">Preguntas Frecuentes</h2>
          <h4>Resolvemos tus dudas</h4>
        </div>
      </div>

      <!-- Question Container -->
      <div class="row my-3">

        <!-- Question Col 01 -->
        <div class="col-lg-6">        
          <div class="col question">
            <a
              href="#pregunta1"
              data-bs-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="pregunta1"
            >
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Qué es Just Sale?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta1">
            <h6>Expertos en soluciones Inmobiliarias</h6>
          </div>          
          <div class="col question">
          <a
            href="#pregunta3"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="pregunta3"
          >
            <div class="d-flex align-items-center justify-content-between">
              <h5>¿Cómo puedo veder mi inmueble a Just Sale ?</h5>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </a>
          </div>
          <div class="col collapse question" id="pregunta3">
            <h6>Es muy fácil, te compartimos estos cuatro sencillos pasos</h6>
            <ol>
              <li>Contáctanos</li>
              <li>Agendamos una cita</li>
              <li>Realizamos una visita a tu inmueble</li>
              <li>Te ofrecemos una propuesta de compra</li>
            </ol>
          </div>
          <div class="col question">
          <a
            href="#pregunta5"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="pregunta5"
          >
            <div class="d-flex align-items-center justify-content-between">
              <h5>
                ¿Compran inmuebles que se encuentren actualmente hipotecados?
              </h5>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </a>
          </div>
          <div class="col collapse answer" id="pregunta5">
            <h6>
              Sí, compramos inmuebles que se encuentren actualmente hipotecados,
              sin embargo, el proceso de compra puede ser más largo.
            </h6>
          </div>     
        </div>

        <!-- Question Col 02 -->
         <div class="col-lg-6">               
          <div class="col question">
            <a
              href="#pregunta2"
              data-bs-toggle="collapse"
              role="button"
              aria-expanded="false"
              aria-controls="pregunta2"
            >
              <div class="d-flex align-items-center justify-content-between">
                <h5>¿Cuáles son los inmuebles que compra Just Sale?</h5>
                <i class="fa-solid fa-ellipsis"></i>
              </div>
            </a>
          </div>
          <div class="col collapse answer" id="pregunta2">
            <h6>
              Actualmente nos encontramos en el procesos de compra únicamente de
              Casas y/o Departamentos
              </h6>
          </div>
          <div class="col question">
          <a
            href="#pregunta4"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="pregunta4"
          >
            <div class="d-flex align-items-center justify-content-between">
              <h5>¿Cuál es la cobertura de compra en Just Sale?</h5>
              <i class="fa-solid fa-ellipsis"></i>
            </div>
          </a>
          </div>
          <div class="col collapse answer" id="pregunta4">
            <h6>
              Nuestros clientes se encuentran en la Ciudad de México y Estado de
              México, si tu inmueble no se encuentra en estas zonas, no te
              preocupes, pronto estaremos en tu ciudad.
              <span>¡Síguenos para más novedades!</span>
            </h6>
          </div> 
        </div>
      </div>   
</section>

  <!-- ======= Contact Section ======= -->

  <section class="slides_full" id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2 class="display-4">Contacto</h2>
        <h4>Nos comunicaremos contigo en breve</h4>
      </header>

      <div class="row gx-3">
        <div class="col">
          <form class="row g-3 needs-validation" id="formularioContacto">
            <div class="col-md-12 col-lg-6">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-regular fa-user"></i>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="nombre_contacto"
                  placeholder="Nombre Completo"
                  aria-label="Nombre Completo"
                  required
                />
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-regular fa-envelope"></i>
                </div>
                <input
                  type="email"
                  class="form-control"
                  id="correo_contacto"
                  placeholder="Email"
                  aria-label="Email"
                  required
                />
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fa-solid fa-mobile-screen"></i>
                </div>
                <input
                  type="tel"
                  class="form-control"
                  id="telefono_contacto"
                  placeholder="Teléfono"
                  aria-label="Teléfono"
                  required
                />
              </div>
            </div>

            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  ¿Te gustaría recibir una propuesta de compra para tu inmueble?
                </option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="medio_contacto" class="form-select" required>
                <option value="" selected>
                  Selecciona la ubicación de tu inmueble
                </option>
                <option value="Ciudad de México">Ciudad de México</option>
                <option value="Cuautitlán Izcalli">Cuautitlán Izcalli</option>
                <option value="Naucalpan">Naucalpan</option>
                <option value="Tlalnepantla">Tlalnepantla</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  ¿El inmueble ya ha sido liquidado?
                </option>
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <select id="asunto_contacto" class="form-select" required>
                <option value="" selected>
                  Si hoy vendieras tu inmueble ¿Qué te gustaría hacer?
                </option>
                <option value="Emprender un negocio">
                  Emprender un negocio
                </option>
                <option value="Cubrir la educación de mis hijos">
                  Cubrir la educación de mis hijos
                </option>
                <option value="Cubrir la educación de mis hijos">
                  Cubrir la educación de mis hijos
                </option>
                <option value="Liquidar deudas">Liquidar deudas</option>
                <option value="Liquidar deudas">Liquidar deudas</option>
                <option value="Cubrir gastos médicos">
                  Cubrir gastos médicos
                </option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col-12">
              <select id="medio_contacto" class="form-select" required>
                <option value="" selected>¿Cómo te contactaremos?</option>
                <option value="Correo Electrónico">Correo Electrónico</option>
                <option value="Llamada Teléfonica">Llamada Teléfonica</option>
                <option value="Mensaje Whatsapp">Mensaje Whatsapp</option>
              </select>
            </div>
            <div class="col-12">
              <textarea
                id="mensaje_contacto"
                class="form-control"
                rows="5"
                placeholder="Escribe algún comentario o pregunta adicional"
                required
              ></textarea>
            </div>
            <div class="col-12 text-center">
              {% load env_extras %}
              <div
                class="g-recaptcha"
                data-sitekey="{% get_env_var 'RECAPTCHA_SECRET_KEY' %}"
                required
              ></div>
              <button type="submit" class="col-12 btn btn-primary">
                Enviar Mensaje
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalGracias"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalGraciasLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto ok" id="modalGraciasLabel">
              ¡Gracias!
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>
              Hemos recibido tu mensaje, nos comunicaremos contigo en breve.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalError"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalErrorLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mx-auto error" id="modalErrorLabel">
              ¡Ha ocurrido un error!
            </h5>
          </div>
          <div class="modal-body text-center">
            <p>El mensaje no ha sido enviado, por favor intenta más tarde.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}
</div>

<script>
  // Animate Div Observer
  const square = document.querySelector(".square");
  const imgabout = document.querySelector(".img-about");
  const imgaaction01 = document.querySelector(".img-action");
  const imgaaction02 = document.querySelector(".img-action02");
  square.classList.remove("square-animate");
  imgabout.classList.remove("img-about-animate");
  imgaaction01.classList.remove("img-action-animate");
  imgaaction02.classList.remove("img-action02-animate");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        square.classList.add("square-animate");
        imgabout.classList.add("img-about-animate");
        imgaaction01.classList.add("img-action-animate");
        imgaaction02.classList.add("img-action02-animate");
        imgabout.classList.remove("img-about-finale");
        square.classList.remove("square-finale");
        imgaaction01.classList.remove("img-action-finale");
        imgaaction02.classList.remove("img-action02-finale");

        return;
      }
      square.classList.remove("square-animate");
      imgabout.classList.remove("img-about-animate");
      imgaaction01.classList.remove("img-action-animate");
      imgaaction02.classList.remove("img-action02-animate");
      square.classList.add("square-finale");
      imgabout.classList.add("img-about-finale");
      imgaaction01.classList.add("img-action-finale");
    });
  });
  observer.observe(document.querySelector(".square-wrapper"));
  observer.observe(document.querySelector(".img-about-wrapper"));
  observer.observe(document.querySelector(".img-action-wrapper"));
  observer.observe(document.querySelector(".img-action02-wrapper"));
</script>
<script>
var carouselWidth = $(".carousel-inner")[0].scrollWidth;

var cardWidth = $(".carousel-item").width();

var scrollPosition = 0;

$(".carousel-control-next").on("click", function () {
  if (scrollPosition < (carouselWidth - cardWidth * 2)) { //check if you can go any further
    scrollPosition += cardWidth;  //update scroll position
    $(".carousel-inner").animate({ scrollLeft: scrollPosition },600); //scroll left
  }
});

$(".carousel-control-prev").on("click", function () {
  if (scrollPosition > 0) {
    scrollPosition -= cardWidth;
    $(".carousel-inner").animate(
      { scrollLeft: scrollPosition },
      600
    );
  }
});

var multipleCardCarousel = document.querySelector(
  "#carouselExampleControls"
);
if (window.matchMedia("(min-width: 768px)").matches) {
  //rest of the code
  var carousel = new bootstrap.Carousel(multipleCardCarousel, {
    interval: false
  });
} else {
  $(multipleCardCarousel).addClass("slide");
}

</script>
<script>
  window.onload = function() {
  var $recaptcha = document.querySelector('#g-recaptcha-response');
  // var myModalGracias = new bootstrap.Modal(
  //   document.getElementById("modalGracias"),
  //   {}
  // );
  // myModalGracias.show();

  if($recaptcha) {
      $recaptcha.setAttribute("required", "required");
  }
};
</script>
{% endblock content %}
