{% extends "base.html" %} {% load static %}

<!-- SEO -->
{% block title %}Términos y Condiciones | Just Sale {% endblock title %} 

{% block titleop %}Términos y Condiciones | Just Sale {% endblock titleop%}
{%block description %} Reglas del proceso de Just Sale.  {% endblock description %}

<!-- Body -->
{% block content %} {% include 'navbar.html' %}

<!-- ======= Header Section ======= -->

<header id="about-index">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center"  data-aos="fade-right" data-aos-delay="500">
        <h2>Términos y Condiciones</h2>
        <br>
        <p>Proximamente</p>
      </div>
      <div class="col-lg-6" data-aos="fade-left" data-aos-delay="500">
        <img src="{% static 'img/about/acerca.png' %}" class="img-fluid" alt="Acerca de Just Sale">
      </div>
    </div>
  </div>
</header>





{% include 'footer.html' %}

<script src="{% static 'js/custom.js' %}"></script>

{% endblock content %}
