{% load static %}

<footer id="footer" style=" scroll-snap-align: end" >
    <span class="icon-wrapper"></span>
    <div class="container pt-5">
      <div class="row ">
        <div class="col-lg-6 align-items-center">
            <h3 >Es fácil, es seguro, es <span>¡Just Sale!</span> </h3>
            <p>Somos una empresa constituida en México, especializada en la compra de inmuebles.</p>          
        </div>
        <hr>        
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h5>Menu</h5>        
          <p class="line"><a href="{% url 'home'  %}#index">Inicio</a></p>
          <p class="line"><a href="{% url 'home'  %}#about">Nosotros</a></p>
          <p class="line"><a href="{% url 'home'  %}#process">Proceso Just</a></p>
          <p class="line"><a href="{% url 'home'  %}#feed">Mundo Inmobiliario</a></p>
          <p class="line"><a href="{% url 'home'  %}#testimonials">Historias de Éxito</a></p>
          <p class="line"><a href="{% url 'home'  %}#faqs">Preguntas Frecuentes</a></p>
          <p class="line"><a href="{% url 'home'  %}#contact">Contacto</a></p>
        </div>
        <div class="col-lg-4">
          <h5>Legales</h5>
          <p class="line"><a href="{% url 'terms'  %}">Términos y Condiciones</a></p>
          <p class="line"><a href="{% url 'privacy' %}">Aviso de Privacidad</a></p>
        </div>
        <div class="col-lg-4">
          <h5>Contacto</h5>
        
          <p class="line">
            <a href="tel:+525516323159">55 1632 3159</a>
          </p>
          <p class="line">
            <a hhref="mailto:contacto@justsale.mx?Subject=Quiero+vender+mi+inmueble">contacto@justsale.mx
            </a>
          </p>
        
          <br>
          <h5>Ubicación</h5>
        
          <p class="line">
            Cuautitlán Izcalli, México
          </p>
        
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-end ">
            <img src="{% static 'img/logo_white.png' %}" width="100" alt="Logo Just Sale" id="foot">
          <br />
          <p>
            2023 Just Sale. Desarrollado por <a href="http://shake.mx" target="_blank" rel="noopener noreferrer"><span class="shake">Shake</span></a> 
          </p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container-fluid bottom">
        <div class="container">
          <div class="row align-items-center">     
            <div class="col-lg-3 ms-auto text-lg-end">
                <div class="row justify-content-end">
                    <div class="col-3">
                      <a href="http://instagram.com/justsale_mx" target="_blank" rel="noopener noreferrer">
                        <i class=" fab fa-instagram fa-2x m-2 "></i>
                      </a>
                    </div>
                    <div class="col-3">
                      <a href="http://facebook.com/justsalemx" target="_blank" rel="noopener noreferrer">
                        <i class=" fab fa-facebook-f fa-2x m-2"></i>   
                      </a> 
                    </div>
                </div>                      
            </div>            
          </div>
        </div> 
    </div> 
</footer>
<br>

<script>
  // Animate Div Observer
  const icon_show = document.querySelector(".icon-show");
  const icon_hide = document.querySelector(".icon-hide");

  icon_show.classList.remove("icon-show");
  icon_hide.classList.remove("icon-hide");

  const observers_icon = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        icon_show.classList.remove("icon-show");
        icon_hide.classList.add("icon-hide");
        return;
      }
      icon_show.classList.add("icon-show");
      icon_hide.classList.remove("icon-hide");
    });
  });
  observers_icon.observe(document.querySelector(".icon-wrapper"));
</script>