{% load static %}

<footer id="footer" style=" scroll-snap-align: end" >
    <div class="container pt-5">
      <div class="row ">
        <div class="col-lg-6 d-flex align-items-center">
            <img src="{% static 'img/logo_light.png' %}" width="100" alt="Logo Just Sale" id="foot">
            <h3 >Es fácil, es seguro, es ¡Just Sale! </h3>
        </div>
        <div class="w-100"></div>
        <div class=" col-lg-6">
            <h5>Somos una empresa constituida en México, especializada en la compra de inmuebles.</h5>          
        </div>
        <hr>        
      </div>
      <div class="row">
        <div class="col-lg-4">
            <h5>Menu</h5>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5>Legales</h5>
            <ul>
                <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Aviso de Privacidad</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h5>Contacto</h5>
            <ul>
                <li><a href="">Teléfono: 55 1234 5678</a></li>
                <li><a href="">Correo:</a></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-end ">
            <img src="{% static 'img/logo_light.png' %}" width="100" alt="Logo Just Sale" id="foot">
          <br />
          <p>
            2023 Just Sale. Desarrollado por <a href="http://shake.mx" target="_blank" rel="noopener noreferrer">Shake</a> 
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-lg-3 offset-lg-4 text-center rounded-pill bg-light p-1">
              <h5 ><strong>Contactarme ahora</strong></h5>
              <h6 >Recupera tu capital, compramos tu casa</h6>
            </div>
            <div class="col-lg-3 ms-auto text-lg-end">
                <div class="row justify-content-end">
                    <div class="col-3 bg-info">
                        <i class=" fab fa-instagram fa-2x m-2 "></i>
                    </div>
                    <div class="col-3 bg-info">
                        <i class=" fab fa-facebook-f fa-2x m-2"></i>    
                    </div>

                </div>                      
            </div>            
          </div>
        </div> 
      </div> 
  </footer>
  <br>