<div class="modal fade" id="modal-mobile-{{testimonial.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-mobile-testimonioLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content bg-transparent">
      <div class="ratio ratio-16x9">
        <iframe width="560" height="315" src="{{testimonial.url_video|safe}}" title="{{testimonial.lead}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>