// ------------------------------------------------------------
// Patrones de CSS
// ------------------------------------------------------------

$primary: #917236;
$secondary: #344558;
$accent_2: #344558;
$accent: #ae8b4b;
$text_1: #fcfcfc;
$text_2: #dbb76d;
$shake: #6918b4;
$success: #03a258;
$danger: #d92f55;
$info: #006fe0;
$background: #ffffff;
$background_2: #FAF9F4;
@mixin gradiant($light, $dark) {
  background: $light;
  background: radial-gradient(
    circle,
    rgba($color: $light, $alpha: 1) 0%,
    rgba($color: $dark, $alpha: 1) 66%
  );
}

@font-face {
  font-family: "ArticulatCF Bold", "sans-serif";
  src: local("ArticulatCF Bold"),
    url("../fonts/ArticulatCF-Bold.ttf") format("truetype");
  color: rgba($color: $secondary, $alpha: 0.8);
}

@font-face {
  font-family: "ArticulatCF Normal", "sans-serif";
  src: local("ArticulatCF Normal"),
    url("../fonts/ArticulatCF-Normal.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand", "sans-serif";
  src: local("Quicksand"),
    url("../fonts/uicksand-Regular.ttf") format("truetype");
}
//------------------------------------------------------
// ESTILOS BODY
//------------------------------------------------------




body {
  background-color: $background;
  font-family: "ArticulatCF Normal", "sans-serif";
  color: $accent_2;
  opacity: 87%;
}

h1 {
  font-family: "ArticulatCF Bold", "sans-serif";
}


section,
header {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: auto;
  border: 0;
}
.embed-responsive-9by16 {
  padding-bottom: 177.77%;
}

#process, #feed, #contact{
  background-color: $background_2;
}


//------------------------------------------------------
// ESTILOS HEADER
//------------------------------------------------------

.follow {
  color: $accent_2!important;
  text-shadow: 0px 5px 25px rgba($text_1, 0.30)!important;
  font-weight: 600;
  font-size: medium;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

}


//------------------------------------------------------
// Navbar
//------------------------------------------------------

.nav-link {
  font-size: xx-large;
  color: $text_1 !important;
  margin-left: 13rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
}

.menuShow {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../img/open.png") !important;
  -webkit-animation: menu-show 0.5s ease 0s 1 !important;
  animation: menu-show 0.5s ease 0s 1 !important;
  animation-fill-mode: forwards !important;
}

@keyframes menu-show {
  to {
    background-image: url("../img/open.png") !important;
    opacity: 1;
  }
  from {
    background-image: url("../img/close.png") !important;
    opacity: 0;
  }
}
@-webkit-keyframes menu-show {
  to {
    background-image: url("../img/open.png") !important;
    opacity: 1;
  }
  from {
    background-image: url("../img/close.png") !important;
    opacity: 0;
  }
}

.menuHide {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../img/close.png") !important;
  -webkit-animation: menu-hide 0.5s ease 0s 1 !important;
  animation: menu-hide 0.5s ease 0s 1 !important;
  animation-fill-mode: forwards !important;
}

@keyframes menu-hide {
  to {
    background-image: url("../img/close.png") !important;
    opacity: 1;
  }
  from {
    background-image: url("../img/open.png") !important;
    opacity: 0;
  }
}
@-webkit-keyframes menu-hide {
  to {
    background-image: url("../img/close.png") !important;
    opacity: 1;
  }
  from {
    background-image: url("../img/open.png") !important;
    opacity: 0;
  }
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
  z-index: 9999;
}

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  box-shadow: transparent !important;
}

.showNav {
  -webkit-animation: collapser-show 0.5s ease-in-out 0s 1;
  animation: collapser-show 0.5s ease-in-out 0s 1;
  animation-fill-mode: forwards;
}

@keyframes collapser-show {
  to {
    height: 0%;
  }
  from {
    height: 85%;
  }
}
@-webkit-keyframes collapser-show {
  to {
    height: 0%;
  }
  from {
    height: 85%;
  }
}

.hideNav {
  -webkit-animation: collapser-hide 0.5s ease 0s 1 normal;
  animation: collapser-hide 0.5s ease 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes collapser-hide {
  to {
    height: 85%;
  }
  from {
    height: 0%;
  }
}
@-webkit-keyframes collapser-hide {
  to {
    height: 85%;
  }
  from {
    height: 0%;
  }
}

//------------------------------------------------------
// Top Scroll
//------------------------------------------------------

#topscroll {
  display: inline-block;
  background-color: $secondary;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 50px;
  color: $text_1;
}
#topscroll:hover {
  cursor: pointer;
  background-color: rgba($color: $secondary, $alpha: 0.6);
}
#topscroll:active {
  background-color: rgba($color: $secondary, $alpha: 0.8);
}
#topscroll.show {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 540px) {
  #topscroll {
    width: 24px;
    height: 24px;
    border-radius: 9px;
  }
  #topscroll::after {
    font-size: 0.9em;
    line-height: 30px;
  }
}

//------------------------------------------------------
// Full Scroll
//------------------------------------------------------

.container_full {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  flex-flow: column nowrap;
}

.slides_full {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

//------------------------------------------------------
// Full Div
//------------------------------------------------------

.square {
  height: 100vh;
  width: 55%;
  @include gradiant($accent, $primary);
  position: absolute;
  z-index: -1;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0;
}

.square-animate {
  -webkit-animation: square-grow 0.7s ease-in 0s 1 normal;
  animation: square-grow 0.7s ease-in 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes square-grow {
  to {
    height: 100vh;
    width: 55%;
  }
  from {
    height: 50vh;
    width: 50%;
  }
}
@-webkit-keyframes square-grow {
  to {
    height: 100vh;
    width: 55%;
  }
  from {
    height: 50vh;
    width: 50%;
  }
}

.square-finale {
  -webkit-animation: square-finale 0.7s ease-out 0s 1 normal;
  animation: square-finale 0.7s ease-out 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes square-finale {
  to {
    height: 50vh;
    width: 50%;
  }
  from {
    height: 100vh;
    width: 55%;
  }
}
@-webkit-keyframes square-finale {
  to {
    height: 50vh;
    width: 50%;
  }
  from {
    height: 100vh;
    width: 55%;
  }
}

//---------------------------------------
// Index
//---------------------------------------
#index {
  h1,
  h3 {
    color: $text_1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }
}

//---------------------------------------
// About
//---------------------------------------
#about {
  h2,
  p {
    color: $text_1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }

  .img-about {
    height: auto;
    width: 55%;
    background-color: $primary;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 100%;
    border-radius: 2%;
    filter: contrast(1.75) brightness(1.2) blur(3px);
  }

  .img-about-animate {
    -webkit-animation: img-about-grow 1s linear 0.7s 1 normal;
    animation: img-about-grow 1s linear 0.7s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-about-grow {
    0% {
      right: 100%;
      filter: blur(4px);
    }
    75% {
      right: -15%;
      filter: blur(1px);
    }
    100% {
      right: -5%;
      filter: blur(0);
    }
  }
  @-webkit-keyframes img-about-grow {
    0% {
      right: 100%;
      filter: blur(4px);
    }
    75% {
      right: -15%;
      filter: blur(1px);
    }
    100% {
      right: -5%;
      filter: blur(0);
    }
  }

  .img-about-finale {
    -webkit-animation: img-about-finale 0.5s linear 0s 1 normal;
    animation: img-about-finale 0.5s linear 0s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-about-finale {
    to {
      right: -100%;
      filter: blur(4px);
    }
    from {
      right: -5%;
      filter: blur(0);
    }
  }
  @-webkit-keyframes img-about-finale {
    to {
      right: -100%;
      filter: blur(4px);
    }
    from {
      right: -5%;
      filter: blur(0);
    }
  }
}

//---------------------------------------
// Process
//---------------------------------------

#process {
  .row_process {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .card {
    border: 0px solid $accent !important;
  }

  .card-body {
    font-family: "Quicksand", "sans-serif";
  }
  .card-title {
    text-align: center;
  }

  .box_icon {
    @include gradiant($accent, $primary);
    border-radius: 15% 0 15% 0;
  }

  .img-action_01 {
    height: auto;
    width: 55%;
    background-color: $primary;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 100%;
    border-radius: 2%;
    filter: contrast(1.75) brightness(1.2) blur(3px);
  }
}

//---------------------------------------
// Action 01
//---------------------------------------

#action_01 {
  position: relative;
  h2,
  h5 {
    color: $text_1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }
  .img-action {
    height: 65vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 0;
    filter: contrast(1.25) brightness(0.8) blur(5px);
  }

  .img-action-animate {
    -webkit-animation: img-action-grow 1.5s ease 0s 1 normal;
    animation: img-action-grow 1.5s ease 0s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-action-grow {
    to {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
  }
  @-webkit-keyframes img-action-grow {
    to {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
  }

  .img-action-finale {
    -webkit-animation: img-action-end 1.5s ease 0s 1 normal;
    animation: img-action-end 1.5s ease 0s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-action-end {
    to {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
  }
  @-webkit-keyframes img-action-end {
    to {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
  }
}

//---------------------------------------
// Feed
//---------------------------------------

#feed {

  @media (min-width: 992px) {
    .container{
        max-width: 90vw;
    }
  }

  @media (min-width: 1400PX) {
    .container{
        max-width: 80vw;
    }
  }

  span a{
    color: $accent_2!important;
    font-size: small!important;
  }

  h5{
    color: $text_1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }

  .carousel-inner {
    padding: 2rem;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    min-height: 20rem;
    border-radius: 15px;
  }
  
  .card-img-overlay {
    top: unset;
    padding: 0;
    margin: 0;
  }

  .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: X; /* fallback */
    max-height: calc(x * 3); /* fallback */
    
  }

  .card .img-wrapper {
    max-width: 100%;  
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 15px;
    border: none;
    height: 30rem;
  }

  img {
    max-height: 100%;
    border-radius: 15px;
  }
  button{
    color: $accent;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media only screen and (min-width: 769px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 50%;
      display: block;
    }
  }
}




//---------------------------------------
// Testimonial
//---------------------------------------

#testimonials{
  font-size: small;
  font-family: "ArticulatCF Normal", "sans-serif";
  h5{
    color: $primary;
  }

  h6{
    color:rgba($color: $primary, $alpha: 0.6);
  }

  p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: X; /* fallback */
    max-height: calc(x * 2); /* fallback */
  }

  .border-testimonial{
    border-bottom: 4px solid $primary;
    width: 5%;
  }

  .card-testimonial{
    width: 500px;
  }
  
  .img-testimonial{
    width: 500px;
    margin: 0 auto; 
  }

  .img-testimonial:hover{
    cursor: pointer;
  }
}


//---------------------------------------
// Action 02
//---------------------------------------

#action_02 {
  position: relative;
  h2,
  h5 {
    color: $text_1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 45%);
  }
  .img-action02 {
    height: 65vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 0;
    filter: contrast(1.25) brightness(0.8) blur(5px);
  }

  .img-action02-animate {
    -webkit-animation: img-action02-grow 1.5s ease 0s 1 normal;
    animation: img-action02-grow 1.5s ease 0s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-action02-grow {
    to {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
  }
  @-webkit-keyframes img-action02-grow {
    to {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
  }

  .img-action02-finale {
    -webkit-animation: img-action02-end 1.5s ease 0s 1 normal;
    animation: img-action02-end 1.5s ease 0s 1 normal;
    animation-fill-mode: forwards;
  }

  @keyframes img-action02-end {
    to {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
  }
  @-webkit-keyframes img-action02-end {
    to {
      filter: contrast(1.25) brightness(0.8) blur(5px);
    }
    from {
      filter: contrast(1.25) brightness(0.8) blur(0);
    }
  }
}

//---------------------------------------
// FAQS
//---------------------------------------

#faqs{
  a{
    color: $accent
  }

  h5{
    color: $secondary;
  }

  h6{ 
    color: $text_2;
    text-shadow: 0px 5px 25px rgba($accent, 0.30);
  }
  .question{
    border-bottom: 1px solid $text_2;
    padding: 2px 10px 5px 10px;
  }

  .answer{
    padding: 5px 10px;
  }
}

//---------------------------------------
// Contact
//---------------------------------------

#contact{

  .input-group-text{
    background: $primary!important;;
  }
  i{
    color: $text_1;
  }
  .form-control, .form-select{
    background: $background;
    border: 1px solid transparent;
    color: $secondary;
    box-shadow: 0px 0 20px rgba($secondary, 0.1);
  }
  .form-select{
    text-align: center;
    color: $secondary;
    font-weight: 200;
  }
  ::placeholder{
    color: $secondary;
    font-weight: 200;
  }


  .form-control:focus, .form-select:focus {
    background: $text_1;
    border: 1px solid $accent;
    color: $secondary;
    box-shadow: 0 0 0 2px rgba($accent, .25);
  }

  button{
    background-color: $primary;
    color: $text_1;
    box-shadow: 0px 5px 25px rgba($accent, 0.30);
    border: none;
    transition: .3s;
  }
  button:hover, button:focus, button:active, button:focus-visible{
    background-color: $text_1;
    box-shadow: 0px 5px 25px rgba($primary, 0.30);
    color: $primary;
    transition: .3s;
  }

  .gracias{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: $primary;
  }

  .img-modal{
    width: 250px;
  }
  .ok{
    font-weight: 700;
    color: $success;
  }

  .error{
    font-weight: 700;
    color: $danger;
  }
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}


//---------------------------------------
// Footer
//---------------------------------------

#footer{
  background: $secondary;
  color: $text_2;
  padding: 20px 0;

  a{
    color: $text_1;
  }

  a:hover{
    color: rgba($color: $text_1, $alpha: .5 );
  }
  .bottom{
    background-color: $background;
  }

  .call-end{
    background-color: rgba($color: $accent, $alpha: .9);
    color: $text_1;
    border-radius: 15px;
    border: none;
    transition: .5s;
    text-shadow: 0px 5px 25px rgba($accent, 0.30);
  }
  
  .call-end:hover{
    background-color: rgba($color: $accent_2, $alpha: .9);
    transition: .5s;
    font-size: large;
    cursor: pointer;
  }
 
}


.call{
  background-color: rgba($color: $accent, $alpha: .6);
  color: $text_1;
  border-radius: 15px;
  border: none;
  padding: 1rem 3rem;
  margin: 5px;
  transition: .5s;
  text-shadow: 0px 5px 25px rgba($accent, 0.30);
}

.call:hover{
  background-color: rgba($color: $accent_2, $alpha: .9);
  transition: .5s;
  font-size: large;
  cursor: pointer;
}