@font-face {
  font-family: "ArticulatCF Bold";
  src: local("ArticulatCF Bold"), url("../fonts/ArticulatCF-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "ArticulatCF Light";
  src: local("ArticulatCF Light"), url("../fonts/ArticulatCF-Light.ttf") format("truetype"); }
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url("../fonts/Quicksand-Regular.ttf") format("truetype"); }
.shake {
  color: #5CE1E6 !important; }

body {
  background-color: #ffffff;
  font-family: "ArticulatCF Light";
  color: #344558;
  overscroll-behavior: contain;
  overflow-y: scroll;
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory; }

.turn {
  display: none; }

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 480px) {
  .turn {
    display: block; }

  .slides_full, .container_full, .navbar, .flotante, .flotante-2 {
    display: none; } }
h1 {
  font-family: "ArticulatCF Bold"; }

section,
header {
  overflow: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.ratio-9x16 {
  --bs-aspect-ratio: calc(16 / 9 * 100%); }

#process, #feed, #contact {
  background-color: #FAF9F4; }

.follow {
  color: #ffffff;
  text-shadow: none;
  background-color: transparent;
  font-size: medium;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 8px 12px;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.follow:hover {
  color: #917236;
  background-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.bg-nav {
  background-color: rgba(52, 69, 88, 0.8); }

.img_nav {
  height: 100px; }

@media (max-width: 992px) {
  .img_nav {
    height: 60px; } }
.nav-link {
  font-size: x-large;
  color: #fcfcfc !important;
  margin-left: 13rem;
  text-shadow: 2px 2px 4px black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

@media (max-width: 992px) {
  .nav-link {
    margin-left: 1rem;
    padding: .3rem 1rem; } }
.menuShow {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../img/open.png") !important;
  -webkit-animation: menu-show 0.5s ease 0s 1 !important;
  animation: menu-show 0.5s ease 0s 1 !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important; }

@keyframes menu-show {
  to {
    background-image: url("../img/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../img/close.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-show {
  to {
    background-image: url("../img/open.png") !important;
    opacity: 1; }
  from {
    background-image: url("../img/close.png") !important;
    opacity: 0; } }
.menuHide {
  border-color: transparent !important;
  border: none !important;
  background-image: url("../img/close.png") !important;
  -webkit-animation: menu-hide 0.5s ease 0s 1 !important;
  animation: menu-hide 0.5s ease 0s 1 !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important; }

@keyframes menu-hide {
  to {
    background-image: url("../img/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../img/open.png") !important;
    opacity: 0; } }
@-webkit-keyframes menu-hide {
  to {
    background-image: url("../img/close.png") !important;
    opacity: 1; }
  from {
    background-image: url("../img/open.png") !important;
    opacity: 0; } }
.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
  border: none !important;
  z-index: 9999; }

.navbar-toggler:focus {
  border-color: transparent !important;
  border: none !important;
  -webkit-box-shadow: transparent !important;
          box-shadow: transparent !important; }

.showNav {
  -webkit-animation: collapser-show 0.5s ease-in-out 0s 1;
  animation: collapser-show 0.5s ease-in-out 0s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
@-webkit-keyframes collapser-show {
  to {
    height: 0%; }
  from {
    height: 100%; } }
.hideNav {
  -webkit-animation: collapser-hide 0.5s ease 0s 1 normal;
  animation: collapser-hide 0.5s ease 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
@-webkit-keyframes collapser-hide {
  to {
    height: 100%; }
  from {
    height: 0%; } }
#topscroll {
  display: inline-block;
  background-color: #917236;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; }

#topscroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 50px;
  color: #fcfcfc; }

#topscroll:hover {
  cursor: pointer;
  background-color: rgba(52, 69, 88, 0.6); }

#topscroll:active {
  background-color: rgba(52, 69, 88, 0.8); }

#topscroll.show {
  opacity: 1;
  visibility: visible; }

@media only screen and (max-width: 540px) {
  #topscroll {
    width: 24px;
    height: 24px;
    border-radius: 9px; }

  #topscroll::after {
    font-size: 0.9em;
    line-height: 30px; } }
.flotante {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 9999; }
  .flotante a {
    color: #fcfcfc;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.flotante-2 {
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 3%;
  z-index: 9999; }
  .flotante-2 i {
    color: #917236; }
  @media (max-width: 992px) {
    .flotante-2 i {
      font-size: large; } }

.div-flotante {
  max-width: 120px !important;
  max-height: auto !important;
  border-radius: 50px;
  text-align: center;
  background-color: #28D146;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); }
  @media (max-width: 992px) {
    .div-flotante i {
      font-size: large; } }

.div-flotante:hover {
  background-color: #fcfcfc;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }
  .div-flotante:hover a {
    color: #28D146;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.container_full {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.slides_full {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth; }

.square {
  height: 100vh;
  width: 55%;
  background: #344558;
  background: radial-gradient(circle, #344558 0%, #344558 66%);
  position: absolute;
  z-index: -1;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  left: 0; }

.square-animate {
  -webkit-animation: square-grow 0.7s ease-in 0s 1 normal;
  animation: square-grow 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes square-grow {
  to {
    height: 100vh;
    width: 55%; }
  from {
    height: 50vh;
    width: 50%; } }
@-webkit-keyframes square-grow {
  to {
    height: 100vh;
    width: 55%; }
  from {
    height: 50vh;
    width: 50%; } }
.square-finale {
  -webkit-animation: square-finale 0.7s ease-out 0s 1 normal;
  animation: square-finale 0.7s ease-out 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes square-finale {
  to {
    height: 50vh;
    width: 50%; }
  from {
    height: 100vh;
    width: 55%; } }
@-webkit-keyframes square-finale {
  to {
    height: 50vh;
    width: 50%; }
  from {
    height: 100vh;
    width: 55%; } }
@media only screen and (max-width: 992px) {
  .square {
    width: 50%; }

  .square-animate {
    -webkit-animation: square-grow 0.7s ease-in 0s 1 normal;
    animation: square-grow 0.7s ease-in 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

  @keyframes square-grow {
    to {
      width: 100%; }
    from {
      width: 50%; } }
  @-webkit-keyframes square-grow {
    to {
      width: 100%; }
    from {
      width: 50%; } }
  .square-finale {
    -webkit-animation: square-finale 0.7s ease-out 0s 1 normal;
    animation: square-finale 0.7s ease-out 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }

  @keyframes square-finale {
    to {
      width: 50%; }
    from {
      width: 100%; } }
  @-webkit-keyframes square-finale {
    to {
      width: 50%; }
    from {
      width: 100%; } } }
#index h1,
#index h3 {
  color: #fcfcfc;
  text-shadow: 2px 2px 4px black; }

#about h2 {
  color: #fcfcfc;
  text-shadow: 2px 2px 4px black; }
#about p {
  color: #fcfcfc; }
#about .img-about {
  height: auto;
  width: 55%;
  background-color: #917236;
  position: absolute;
  z-index: -2;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  right: 100%;
  border-radius: 2%;
  -webkit-filter: contrast(1.75) brightness(1.2) blur(3px);
          filter: contrast(1.75) brightness(1.2) blur(3px); }
#about .img-about-animate {
  -webkit-animation: img-about-grow 1s linear 0.7s 1 normal;
  animation: img-about-grow 1s linear 0.7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
@keyframes img-about-grow {
  0% {
    right: 100%;
    -webkit-filter: blur(4px);
            filter: blur(4px); }
  75% {
    right: -15%;
    -webkit-filter: blur(1px);
            filter: blur(1px); }
  100% {
    right: -5%;
    -webkit-filter: blur(0);
            filter: blur(0); } }
@-webkit-keyframes img-about-grow {
  0% {
    right: 100%;
    -webkit-filter: blur(4px);
            filter: blur(4px); }
  75% {
    right: -15%;
    -webkit-filter: blur(1px);
            filter: blur(1px); }
  100% {
    right: -5%;
    -webkit-filter: blur(0);
            filter: blur(0); } }
#about .img-about-finale {
  -webkit-animation: img-about-finale 0.5s linear 0s 1 normal;
  animation: img-about-finale 0.5s linear 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
@keyframes img-about-finale {
  to {
    right: -100%;
    -webkit-filter: blur(4px);
            filter: blur(4px); }
  from {
    right: -5%;
    -webkit-filter: blur(0);
            filter: blur(0); } }
@-webkit-keyframes img-about-finale {
  to {
    right: -100%;
    -webkit-filter: blur(4px);
            filter: blur(4px); }
  from {
    right: -5%;
    -webkit-filter: blur(0);
            filter: blur(0); } }
#process .row_process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
#process .card {
  border: 0px solid #ae8b4b !important;
  border-radius: 15%;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
#process .card-body {
  font-family: "Quicksand";
  text-align: center;
  padding: .5rem; }
#process .card-title {
  text-align: center; }
#process .box_icon {
  background-color: #ffffff;
  border-radius: 15%; }
#process .card-img-top {
  height: auto;
  width: 100%;
  padding: 2rem; }
#process .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-height: X;
  /* fallback */
  max-height: calc(x * 3);
  /* fallback */ }
#process .card-text {
  font-size: medium; }
@media only screen and (max-width: 992px) {
  #process .card {
    height: 200px; }
  #process .card-img-top {
    width: auto;
    padding: 1rem;
    height: 100px; }
  #process .card-text {
    font-size: smaller; } }

#action_01 {
  position: relative; }
  #action_01 h2,
  #action_01 h5 {
    color: #fcfcfc;
    text-shadow: 2px 2px 4px black; }
  #action_01 .img-action {
    height: 65vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 0;
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  #action_01 .img-action-animate {
    -webkit-animation: img-action-grow 1.5s ease 0s 1 normal;
    animation: img-action-grow 1.5s ease 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
@keyframes img-action-grow {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); } }
@-webkit-keyframes img-action-grow {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); } }
  #action_01 .img-action-finale {
    -webkit-animation: img-action-end 1.5s ease 0s 1 normal;
    animation: img-action-end 1.5s ease 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
@keyframes img-action-end {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); } }
@-webkit-keyframes img-action-end {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); } }
  @media only screen and (max-width: 992px) {
    #action_01 .img-action {
      height: 35vh; } }

@media (min-width: 992px) {
  #feed .container {
    max-width: 90vw; } }
@media (min-width: 1400PX) {
  #feed .container {
    max-width: 80vw; } }
#feed span a {
  color: #344558 !important;
  font-size: small !important; }
#feed h5 {
  color: #fcfcfc;
  text-shadow: 2px 2px 4px black; }
#feed .carousel-inner {
  padding: 2rem; }
#feed .card {
  margin: 0 0.5em;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  min-height: 17rem;
  border-radius: 15px; }
#feed .card-img-overlay {
  top: unset;
  padding: 0;
  margin: 0; }
#feed .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-height: X;
  /* fallback */
  max-height: calc(x * 3);
  /* fallback */ }
#feed .card .img-wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 15px;
  border: none;
  height: 20rem; }
#feed img {
  max-height: 100%;
  border-radius: 15px; }
#feed button {
  color: #ae8b4b; }
#feed .carousel-control-prev,
#feed .carousel-control-next {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
@media only screen and (min-width: 769px) {
  #feed .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #feed .carousel-item {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: block; } }
#feed .follow {
  color: #917236;
  border: 1px solid #917236; }
#feed .follow:hover {
  background-color: #917236;
  color: #ffffff; }
@media (max-width: 1280px) {
  #feed .card .img-wrapper {
    height: 350px; } }
@media (max-width: 992px) {
  #feed .card {
    min-height: 200px; }
  #feed .card .img-wrapper {
    height: 200px; }
  #feed h5 {
    font-size: small; } }

#testimonials {
  font-size: small;
  font-family: "ArticulatCF Light"; }
  #testimonials h5 {
    color: #917236; }
  #testimonials h6 {
    color: #344558; }
  #testimonials .phrase {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: X;
    /* fallback */
    max-height: calc(x * 2);
    /* fallback */ }
  #testimonials .line-testimonial {
    border-bottom: 4px solid #917236;
    width: 5%; }
  #testimonials .card-testimonial {
    width: 500px; }
  #testimonials .img-wrapper {
    width: 100%;
    height: 12rem;
    border-radius: 15px; }
  #testimonials .img-testimonial {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); }
  #testimonials .img-testimonial:hover {
    cursor: pointer; }
  #testimonials .follow {
    color: #917236;
    border: 1px solid #917236; }
  #testimonials .follow:hover {
    background-color: #917236;
    color: #ffffff; }
  @media (max-width: 992px) {
    #testimonials .img-wrapper {
      height: 8rem; }
    #testimonials .card-testimonial {
      width: 250px; }
    #testimonials .line-testimonial {
      width: 100%;
      border-bottom: 1px solid #917236; } }

#action_02 {
  position: relative; }
  #action_02 h2,
  #action_02 h5 {
    color: #fcfcfc;
    text-shadow: 2px 2px 4px black; }
  #action_02 .img-action02 {
    height: 65vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 0;
    top: 0;
    right: 0;
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  #action_02 .img-action02-animate {
    -webkit-animation: img-action02-grow 1.5s ease 0s 1 normal;
    animation: img-action02-grow 1.5s ease 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
@keyframes img-action02-grow {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); } }
@-webkit-keyframes img-action02-grow {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); } }
  #action_02 .img-action02-finale {
    -webkit-animation: img-action02-end 1.5s ease 0s 1 normal;
    animation: img-action02-end 1.5s ease 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
@keyframes img-action02-end {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); } }
@-webkit-keyframes img-action02-end {
  to {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(5px);
            filter: contrast(1.25) brightness(0.8) blur(5px); }
  from {
    -webkit-filter: contrast(1.25) brightness(0.8) blur(0);
            filter: contrast(1.25) brightness(0.8) blur(0); } }
  @media only screen and (max-width: 992px) {
    #action_02 .img-action02 {
      height: 35vh; } }

#faqs a {
  color: #ae8b4b; }
#faqs h5 {
  color: #344558; }
#faqs h6 {
  color: #917236; }
#faqs .question {
  border-bottom: 1px solid #917236;
  padding: 2px 10px 5px 10px; }
#faqs .answer {
  padding: 5px 10px; }
@media only screen and (max-width: 992px) {
  #faqs h5 {
    font-size: smaller; }
  #faqs h6 {
    font-size: smaller; }
  #faqs .quest-container {
    height: 350px;
    overflow: scroll; } }

#contact .input-group-text {
  background: #917236 !important; }
#contact i {
  color: #fcfcfc; }
#contact .form-control, #contact .form-select {
  background: #ffffff;
  border: 1px solid transparent;
  color: #344558;
  -webkit-box-shadow: 0px 0 20px rgba(52, 69, 88, 0.1);
          box-shadow: 0px 0 20px rgba(52, 69, 88, 0.1); }
#contact .form-select {
  text-align: center;
  color: #344558;
  font-weight: 200; }
#contact ::-webkit-input-placeholder {
  color: #344558;
  font-weight: 200; }
#contact :-ms-input-placeholder {
  color: #344558;
  font-weight: 200; }
#contact ::-ms-input-placeholder {
  color: #344558;
  font-weight: 200; }
#contact ::placeholder {
  color: #344558;
  font-weight: 200; }
#contact .form-control:focus, #contact .form-select:focus {
  background: #fcfcfc;
  border: 1px solid #ae8b4b;
  color: #344558;
  -webkit-box-shadow: 0 0 0 2px rgba(174, 139, 75, 0.25);
          box-shadow: 0 0 0 2px rgba(174, 139, 75, 0.25); }
#contact button {
  background-color: #917236;
  color: #fcfcfc;
  -webkit-box-shadow: 0px 5px 25px rgba(174, 139, 75, 0.3);
          box-shadow: 0px 5px 25px rgba(174, 139, 75, 0.3);
  border: none;
  -webkit-transition: .3s;
  transition: .3s; }
#contact button:hover, #contact button:focus, #contact button:active, #contact button:focus-visible {
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 5px 25px rgba(145, 114, 54, 0.3);
          box-shadow: 0px 5px 25px rgba(145, 114, 54, 0.3);
  color: #917236;
  -webkit-transition: .3s;
  transition: .3s; }
#contact .gracias {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #917236; }
#contact .img-modal {
  width: 250px; }
#contact .ok {
  font-weight: 700;
  color: #03a258; }
#contact .error {
  font-weight: 700;
  color: #d92f55; }
@media only screen and (max-width: 992px) {
  #contact {
    font-size: smaller; }
    #contact .contact-container {
      overflow: scroll;
      height: 400px; } }

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0; }

#footer {
  background: #344558;
  color: #fcfcfc;
  padding: 20px 0; }
  #footer p {
    font-size: small; }
  #footer .line {
    line-height: .5; }
  #footer a, #footer li {
    color: #fcfcfc !important; }
  #footer a:hover {
    color: rgba(252, 252, 252, 0.5); }

.call {
  background-color: #ae8b4b;
  color: #fcfcfc;
  border-radius: 15px;
  border: none;
  padding: 6px 18px;
  margin: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  text-shadow: 0px 5px 25px rgba(174, 139, 75, 0.3);
  font-size: medium; }

.call:hover {
  background-color: #344558;
  color: #fcfcfc;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer; }

.animation-down {
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0); }

.animation-down-start {
  -webkit-animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
@-webkit-keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
.animation-down-finale {
  -webkit-animation: text-down-hide 0.7s ease-in 0s 1 normal;
  animation: text-down-hide 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-up {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0); }

.animation-up-start {
  -webkit-animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
@-webkit-keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
.animation-up-finale {
  -webkit-animation: text-up-hide 0.7s ease-in .7s 1 normal;
  animation: text-up-hide 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-down1 {
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0); }

.animation-down1-start {
  -webkit-animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
@-webkit-keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
.animation-down1-finale {
  -webkit-animation: text-down-hide 0.7s ease-in 0s 1 normal;
  animation: text-down-hide 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-up1 {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0); }

.animation-up1-start {
  -webkit-animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
@-webkit-keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
.animation-up1-finale {
  -webkit-animation: text-up-hide 0.7s ease-in .7s 1 normal;
  animation: text-up-hide 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-down2 {
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0); }

.animation-down2-start {
  -webkit-animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
@-webkit-keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
.animation-down2-finale {
  -webkit-animation: text-down-hide 0.7s ease-in 0s 1 normal;
  animation: text-down-hide 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-up2 {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0); }

.animation-up2-start {
  -webkit-animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
@-webkit-keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
.animation-up2-finale {
  -webkit-animation: text-up-hide 0.7s ease-in .7s 1 normal;
  animation: text-up-hide 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-down3 {
  opacity: 0;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0); }

.animation-down3-start {
  -webkit-animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  animation: text-down-opacity 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
@-webkit-keyframes text-down-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }
.animation-down3-finale {
  -webkit-animation: text-down-hide 0.7s ease-in 0s 1 normal;
  animation: text-down-hide 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-down-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-up3 {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0); }

.animation-up3-start {
  -webkit-animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  animation: text-up-opacity 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
@-webkit-keyframes text-up-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); } }
.animation-up3-finale {
  -webkit-animation: text-up-hide 0.7s ease-in .7s 1 normal;
  animation: text-up-hide 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-up-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-right {
  opacity: 0;
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0); }

.animation-right-start {
  -webkit-animation: text-right-opacity 0.7s ease-in 0s 1 normal;
  animation: text-right-opacity 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-right-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0); } }
@-webkit-keyframes text-right-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0); } }
.animation-right-finale {
  -webkit-animation: text-right-hide 0.7s ease-in 0s 1 normal;
  animation: text-right-hide 0.7s ease-in 0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-right-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-right-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.animation-left {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0); }

.animation-left-start {
  -webkit-animation: text-left-opacity 0.7s ease-in .7s 1 normal;
  animation: text-left-opacity 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-left-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0); } }
@-webkit-keyframes text-left-opacity {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  from {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0); } }
.animation-left-finale {
  -webkit-animation: text-left-hide 0.7s ease-in .7s 1 normal;
  animation: text-left-hide 0.7s ease-in .7s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@keyframes text-left-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes text-left-hide {
  to {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
            transform: translate3d(50px, 0, 0); }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.icon {
  display: block; }

.icon-show {
  display: block; }

.icon-hide {
  display: none; }

/*------------------------------------*\
    #About-index
\*------------------------------------*/
#about-index {
  padding-top: 100px;
  padding-bottom: 100px; }
  #about-index img {
    border-radius: 15% 0 15% 0 !important;
    padding: 2rem; }

#about-mision {
  background-color: #FAF9F4; }
  #about-mision .row {
    padding-top: 100px;
    padding-bottom: 100px; }
  #about-mision img {
    border-radius: 15% 0 15% 0 !important;
    padding: 2rem; }

/*------------------------------------*\
    #Feed-index
\*------------------------------------*/
#feed-index {
  padding-top: 100px;
  padding-bottom: 100px; }
  #feed-index .img_masonry {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); }
  #feed-index .img-wrapper {
    width: 100%;
    height: 15rem;
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  #feed-index .img-testimonial:hover {
    cursor: pointer; }
  #feed-index .figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto; }
  #feed-index .figure > .img_masonry {
    grid-row: 1 / -1;
    grid-column: 1; }
  #feed-index .phrase {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: X;
    /* fallback */
    max-height: calc(x * 2);
    /* fallback */
    color: #344558;
    font-size: small; }
  #feed-index .figcaption {
    grid-row: 2;
    grid-column: 1;
    padding: .2em .5em;
    justify-self: start; }
  #feed-index .infinite-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 2px;
    grid-column-end: span 2; }
  @media only screen and (max-width: 992px) {
    #feed-index .infinite-container {
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 992px) {
    #feed-index .container {
      max-width: 90vw; } }
  @media (min-width: 1400PX) {
    #feed-index .container {
      max-width: 80vw; } }
  #feed-index #controls {
    font-size: smaller;
    color: #917236 !important; }
    #feed-index #controls p, #feed-index #controls a {
      color: #917236 !important;
      padding: 0;
      margin: 0; }

#feed-action {
  background-color: #FAF9F4; }
  #feed-action .row {
    padding-top: 100px;
    padding-bottom: 100px; }
  #feed-action img {
    border-radius: 15% 0 15% 0 !important;
    padding: 2rem; }

/*------------------------------------*\
    #testimonials-index
\*------------------------------------*/
#testimonials-index {
  padding-top: 100px;
  padding-bottom: 100px; }
  #testimonials-index .card {
    border: none;
    padding-top: 100px;
    padding-bottom: 100px; }
  #testimonials-index img {
    border-radius: 15px; }
  #testimonials-index h5 {
    color: #917236; }
  #testimonials-index h6 {
    color: #344558; }
  #testimonials-index .phrase {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: X;
    /* fallback */
    max-height: calc(x * 2);
    /* fallback */ }
  #testimonials-index .border-testimonial {
    border-bottom: 4px solid #917236;
    width: 5%; }
  #testimonials-index .img-testimonial {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); }
  #testimonials-index .img-testimonial:hover {
    cursor: pointer; }

#testimonials-action {
  background-color: #FAF9F4; }
  #testimonials-action .row {
    padding-top: 100px;
    padding-bottom: 100px; }
  #testimonials-action img {
    border-radius: 15% 0 15% 0 !important;
    padding: 2rem; }

/*# sourceMappingURL=estilos.css.map */